- if can? :index, Club
  .row
    .col-sm-12
      .page-header= I18n.t('club.titles.index')

  .row.actions
    .col-sm.col-md-3
      %input.form-control#search{ type: "text", placeholder: "- snel zoeken -", autofocus: :true }
    .col-sm.col-md-9.count
      %span.counter= @found
      %span= "clubs"

  .row
    .col-sm-12
      %table.table#search_items
        %thead.thead-dark
          %tr
            %th.hidden= I18n.t('.activerecord.attributes.league.country')
            %th.hidden= I18n.t('.activerecord.attributes.club.league_id')
            %th= I18n.t('.activerecord.attributes.club.name')
            %th
        %tbody
          - @clubs.each do |club|
            - decorate club do |decorates|
              %tr.item
                %td.hidden= decorates.data_field(club.league.country) unless club.league.blank?
                %td.hidden= decorates.data_field(club.league.name) unless club.league.blank?
                %td= decorates.data_field(club.name)
                %td
                  - if can? :edit, Club
                    = link_to I18n.t('.general.form.edit'), edit_club_path(club), class: "btn btn-outline-primary btn-sm"
                  - if can? :destroy, Club
                    = link_to I18n.t('.general.form.delete'), club_path(club), method: :delete, data: { confirm: I18n.t('.club.confirm') }, class: "btn btn-outline-danger btn-sm"
