.box.bordered-box.sea-blue-border{:style => "margin-bottom:0;"}
  .box-header.sea-blue-background
    .title
      .icon-filter
      = I18n.t(".general.form.filter")
      = "(#{@found} #{I18n.t(".general.form.found")})" unless @found.blank?
    .actions
      %a.btn.box-remove.btn-xs.btn-link{:href => "#"}
        %i.icon-remove
      %a.btn.box-collapse.btn-xs.btn-link{:href => "#"}
        %i
  .box-content
    .responsive-table
      .scrollable-area.filter
        = search_form_for @q, url: leagues_path, method: :get, html: { class: "form-inline"} do |f|
          .form-group
            - selected = @q.country_eq.blank? ? nil : "selected"
            = f.select :country_eq, options_for_select(@countries.map{ |c| [c.country, c.country] }, @q.country_eq), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.league.country').downcase} -" }, { class: "form-control #{selected}" }
          = f.submit(class: 'btn btn-default', value: I18n.t('.general.form.filter'))
          - if leagues_path.count('?') == 1
            = link_to I18n.t('.general.form.clear'), "#{leagues_path}&clear=true", class: 'btn btn-default'
          - else
            = link_to I18n.t('.general.form.clear'), "#{leagues_path}?clear=true", class: 'btn btn-default'
