- if can? :index, League
  .row
    .col-sm-12
      .page-header= I18n.t('league.titles.index')

  .row.actions
    .col-sm.col-md-3
      %input.form-control#search{ type: "text", placeholder: "- snel zoeken -", autofocus: :true }
    .col-sm.col-md-9.count
      = "#{@found} leagues"

  .row
    .col-sm-12
      %table.table
        %thead.thead-dark
          %tr
            %th= I18n.t('.activerecord.attributes.league.country')
            %th= I18n.t('.activerecord.attributes.league.name')
            %th= I18n.t('.activerecord.attributes.league.step')
            %th
        %tbody
          - @leagues.each do |league|
            - decorate league do |decorates|
              %tr
                %td= decorates.flag(league.country)
                %td= decorates.data_field(league.name)
                %td= decorates.data_field(league.step)
                %td
                  - if can? :edit, League
                    = link_to I18n.t('.general.form.edit'), edit_league_path(league), class: "btn btn-outline-primary btn-sm"
                  - if can? :destroy, League
                    = link_to I18n.t('.general.form.delete'), league_path(league), method: :delete, data: { confirm: I18n.t('.league.confirm') }, class: "btn btn-outline-danger btn-sm"
