.box.bordered-box.sea-blue-border{:style => "margin-bottom:0;"}
  .box-header.sea-blue-background
    .title
      .icon-filter
      = I18n.t(".general.form.filter")
      = "(#{@found} #{I18n.t(".general.form.found")})" unless @found.blank?
    .actions
      %a.btn.box-remove.btn-xs.btn-link{:href => "#"}
        %i.icon-remove
      %a.btn.box-collapse.btn-xs.btn-link{:href => "#"}
        %i
  .box-content
    .responsive-table
      .scrollable-area.filter
        = search_form_for @q, url: footmarks_path, method: :get, html: { class: "form-inline"} do |f|
          .form-group
            - selected = @q.home_club_id_eq.blank? ? nil : "selected"
            = f.select :home_club_id_eq, options_for_select(@clubs.map{ |c| [c.name, c.id] }, @q.home_club_id_eq), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.club_id').downcase} -" }, { class: "form-control #{selected}" }
          .form-group
            - selected = @q.away_club_id_eq.blank? ? nil : "selected"
            = f.select :away_club_id_eq, options_for_select(@clubs.map{ |c| [c.name, c.id] }, @q.away_club_id_eq), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.away_club_id').downcase} -" }, { class: "form-control #{selected}" }
          .form-group
            - selected = @q.season_eq.blank? ? nil : "selected"
            = f.select :season_eq, options_for_select(@seasons.map{ |s| [s.season, s.season] }, @q.season_eq), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.season').downcase} -" }, { class: "form-control #{selected}" }
          = f.submit(class: 'btn btn-default', value: I18n.t('.general.form.filter'))
          = link_to I18n.t('.general.form.clear'), footmarks_path, class: 'btn btn-default'
