
= form_for @footmark do |f|
  = render "layouts/form_messages", target: @footmark
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.countfor92')
    = f.collection_select :countfor92, [[true, "Yes"] ,[false, "No"]], :first, :last, { include_blank: true }, { class: 'form-control' }
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.nr')
    = f.text_field :nr, class: "form-control", type: :number, step: "0"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.season')
    = f.select :season, options_for_select(@seasons.map{ |s| [s.season, s.season] }, @footmark.season), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.season').downcase} -" }, { class: 'form-control' }
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.visit_date')
    = f.date_field :visit_date, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.league_id')
    = f.select :league_id, options_for_select(@leagues.map{ |l| [l.name, l.id] }, @footmark.league_id), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.league_id').downcase} -" }, { class: 'form-control' }
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.home_club_id')
    = f.select :home_club_id, options_for_select(@home_clubs.map{ |c| [c.name, c.id] }, @footmark.home_club_id), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.home_club_id').downcase} -" }, { class: 'form-control' }
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.away_club_id')
    = f.select :away_club_id, options_for_select(@away_clubs.map{ |c| [c.name, c.id] }, @footmark.away_club_id), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.away_club_id').downcase} -" }, { class: 'form-control' }
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.ground')
    = f.text_field :ground, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.street')
    = f.text_field :street, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.city')
    = f.text_field :city, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.result')
    = f.text_field :goals_home, class: "form-control"
    = f.text_field :goals_away, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.kickoff')
    = f.text_field :kickoff, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.gate')
    = f.text_field :gate, class: "form-control", type: :number
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.ticket_price')
    = f.text_field :ticket_price, class: "form-control", type: :number
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.programme_link')
    = f.text_field :programme_link, class: "form-control"
  .form-group
    = f.label I18n.t('.activerecord.attributes.footmark.ticket_link')
    = f.text_field :ticket_link, class: "form-control"
  .form-group
    = f.submit(class: 'btn btn-outline-primary', value: I18n.t('.general.form.save'))
    = link_to I18n.t('.general.form.cancel'), footmarks_path, class: 'btn btn-outline-danger'
