.box
  .box-header.sea-blue-background
    .title
      .icon-edit
      = title
    .actions
      %a.btn.box-remove.btn-xs.btn-link{:href => "#"}
        %i.icon-remove
      %a.btn.box-collapse.btn-xs.btn-link{:href => "#"}
        %i
  .box-content
    = form_for @footmark, html: { class: "form form-horizontal"} do |f|
      = render "layouts/form_messages", target: @footmark
      %fieldset
        .col-sm-12
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.countfor92')
            .col-xs-5.col-md-2= f.collection_select :countfor92, [[true, "Yes"] ,[false, "No"]], :first, :last, { include_blank: true }, { class: 'form-control' }
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.nr')
            .col-xs-5.col-md-2= f.text_field :nr, class: "form-control", type: :number, step: "0"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.season')
            .col-xs-5.col-md-2= f.select :season, options_for_select(@seasons.map{ |s| [s.season, s.season] }, @footmark.season), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.season').downcase} -" }, { class: 'form-control' }
          .form-group
            .col-md-3.control-label.date_label= f.label I18n.t('.activerecord.attributes.footmark.visit_date')
            .col-xs-5.col-md-2
              %div
                #datepicker.datepicker.input-group
                  = f.text_field :visit_date, as: :string, "data-format" => "dd-MM-yyyy", class: "form-control"
                  %span.input-group-addon
                    %span.icon-calendar{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.league_id')
            .col-md-5= f.select :league_id, options_for_select(@leagues.map{ |l| [l.name, l.id] }, @footmark.league_id), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.league_id').downcase} -" }, { class: 'form-control' }
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.home_club_id')
            .col-md-5= f.select :home_club_id, options_for_select(@home_clubs.map{ |c| [c.name, c.id] }, @footmark.home_club_id), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.home_club_id').downcase} -" }, { class: 'form-control' }
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.away_club_id')
            .col-md-5= f.select :away_club_id, options_for_select(@away_clubs.map{ |c| [c.name, c.id] }, @footmark.away_club_id), { include_blank: true, prompt: "- #{I18n.t('.activerecord.attributes.footmark.away_club_id').downcase} -" }, { class: 'form-control' }
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.ground')
            .col-md-5= f.text_field :ground, class: "form-control"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.street')
            .col-md-5= f.text_field :street, class: "form-control"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.city')
            .col-md-5= f.text_field :city, class: "form-control"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.result')
            .col-md-5
              .col-xs-3= f.text_field :goals_home, class: "form-control"
              .col-xs-1 -
              .col-xs-3= f.text_field :goals_away, class: "form-control"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.kickoff')
            .col-xs-5.col-md-2= f.text_field :kickoff, class: "form-control"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.gate')
            .col-xs-5.col-md-2= f.text_field :gate, class: "form-control", type: :number, step: "0"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.ticket_price')
            .col-xs-5.col-md-2= f.text_field :ticket_price, class: "form-control", type: :number, step: "2"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.programme_link')
            .col-md-5= f.text_field :programme_link, class: "form-control"
          .form-group
            .col-md-3.control-label= f.label I18n.t('.activerecord.attributes.footmark.ticket_link')
            .col-md-5= f.text_field :ticket_link, class: "form-control"

      %hr.hr-normal
      %fieldset
        .col-sm-12
          = f.fields_for :photos do |photo|
            = render 'photo_fields', f: photo
          .form-group
            .col-md-5.col-md-offset-3
              = link_to_add_association I18n.t('.photo.add_photo'), f, :photos, class: 'btn'
      .form-actions
        .row
          .col-sm-7.col-sm-offset-5
            = f.submit(class: 'btn btn-default', value: I18n.t('.general.form.save'))
            = link_to I18n.t('.general.form.cancel'), footmarks_path, class: 'btn'
