.row
  .col-sm
    %h1= I18n.t('footmark.titles.index')

- if can? :create, Footmark
  .row.justify-content-end
    .col-2     
      = link_to I18n.t('.footmark.titles.new'), new_footmark_path, class: "btn btn-primary"

.row
  .col-sm      
    %table.table.table-striped
      - @footmarks.each do |footmark|
        - decorate footmark do |decorates|
          %tr
            %td= decorates.data_field(footmark.nr)
            %td= decorates.data_field(footmark.visit_date.to_date, "date")
            %td= "#{decorates.home_club} v #{decorates.away_club}"
            %td= decorates.data_field(footmark.ground)
            %td= decorates.result
            %td= decorates.data_field(footmark.gate)
            %td= decorates.data_field(League.find(footmark.league_id).name)
            %td= link_to I18n.t('.general.form.details'), footmark_path(footmark)
