.row
  .col-sm-12
    .page-header
      / page title
      %h1.pull-left
        %i.icon-refresh
        %span= I18n.t('footmark.titles.index')
      / breadcrumbs
      .pull-right
        %ul.breadcrumb
          %li
            = link_to root_path do
              %i.icon-dashboard
          %li.separator
            %i.icon-angle-right
          %li.active= I18n.t('footmark.titles.index')

.row
  .col-sm-12
    = render "filter"

.row
  .col-sm-12
    .box.bordered-box.sea-blue-border{:style => "margin-bottom:0;"}
      .box-header.sea-blue-background
        .title
          = link_to I18n.t('.footmark.titles.new'), new_footmark_path, class: 'btn'
        .actions
          %a.btn.box-remove.btn-xs.btn-link{:href => "#"}
            %i.icon-remove
          %a.btn.box-collapse.btn-xs.btn-link{:href => "#"}
            %i
      .box-content.box-no-padding
        .responsive-table
          .scrollable-area.footmarks
            %ol.list-group
              - @footmarks.each do |footmark|
                - decorate footmark do |decorates|
                  %li.list-group-item.clearfix
                    %h3
                      %small.pull-right= link_to I18n.t('.general.form.details'), footmark_path(footmark)
                      .nr
                        .label.label-success= footmark.nr
                      .match= "#{footmark.club.name} v #{Club.find(footmark.away_club_id).name}" unless footmark.club.blank?
                    %h4.details
                      %small= "#{l footmark.visit_date.to_date} | "
                      %small= "#{decorates.data_field(footmark.ground)} | "
                      %small= "#{decorates.data_field(footmark.result)} | "
                      %small= decorates.data_field(footmark.gate)
