- if can? :show, Footmark
  - decorate @footmark do |decorates|
    .row.justify-content-end.actions
      .col-sm.col-md-2
        - if can? :edit, Footmark
          = link_to I18n.t('.general.form.edit'), edit_footmark_path(@footmark), class: "btn btn-outline-primary btn-sm"
        - if can? :destroy, Footmark
          = link_to I18n.t('.general.form.delete'), footmark_path(@footmark), method: :delete, class: "btn btn-outline-danger btn-sm"

    .row
      .col-sm
        %table.table
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.match')
            %td= "#{@footmark.home_club.name} v #{@footmark.away_club.name}"
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.nr')
            %td= decorates.data_field(@footmark.nr)
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.visit_date')
            %td= decorates.data_field(@footmark.visit_date, "date")
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.season')
            %td= decorates.data_field(@footmark.season)
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.ground')
            %td= decorates.data_field(@footmark.ground)
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.address')
            %td= "#{@footmark.street}, #{@footmark.city}, #{@footmark.league.country}"
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.gate')
            %td= decorates.data_field(@footmark.gate)
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.kickoff')
            %td= decorates.data_field(@footmark.kickoff)
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.league_id')
            %td= decorates.league(@visited_league)
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.result')
            %td= decorates.result
          %tr
            %td= I18n.t('.activerecord.attributes.footmark.ticket_price')
            %td= decorates.data_field(@footmark.ticket_price, "amount")
