- if can? :view, :programmes
  .row
    .col-sm-12
      .page-header
        / page title
        %h1.pull-left
          %i.icon-book
          %span= I18n.t("site.programmes.title")
        / breadcrumbs
        .pull-right
          %ul.breadcrumb
            %li
              = link_to root_path do
                %i.icon-dashboard
            %li.separator
              %i.icon-angle-right
            %li.active= I18n.t("site.programmes.title")

  .row
    .col-sm-12
      //= render "filter", search_path: site_programmes_path

  .row
    .col-sm-12
      .box
        .box-content
          .gallery
            %ul.list-unstyled.list-inline
              - @footmarks.each do |footmark|
                - unless footmark.programme_link.blank? || footmark.programme_link == '""'
                  %li
                    .picture
                      .actions
                        .pull-left
                          %a.btn.btn-link{:href => "#"}
                            %small
                              = link_to I18n.t('.general.form.details'), footmark_path(footmark)
                      %a{"data-lightbox" => "flatty", href: "#{footmark.programme_link}"}
                        %img{src: "#{footmark.programme_link}", width: "250px"}/
