- if can? :view, :leagues_completed
  .row
    .col-sm-12
      .page-header= I18n.t("site.visited_clubs.title")

  .row.actions
    .col-sm.col-md-3
      %input.form-control#search{ type: "text", placeholder: "- snel zoeken -", autofocus: :true }

  .row
    .col-sm
      %table.table#footmarks
        %thead.thead-dark
          %tr
            %th= I18n.t(".activerecord.attributes.club.name")
            %th= I18n.t(".club.home")
            %th= I18n.t(".club.away")
            %th= I18n.t(".club.total")
        %tbody
          - @iterated_clubs.each do |club_name, home, away, total|
            %tr.footmark
              %td= club_name
              %td= home
              %td= away
              %td= total

