%nav#main-nav
  .navigation
    / search form visible on phone
    .search
      %form{ action: "search_results.html", method: "get" }
        .search-wrapper
          %input.search-query.form-control{ autocomplete: "off", name: "q", placeholder: "Search...", type: "text", value: ""}/
          %button.btn.btn-link.icon-search{ name: "button", type: "submit"}

    / navigation items
    %ul.nav.nav-stacked
      - if can? :index, Footmark
        %li{ class: "#{'active' if current_page?(footmarks_path)}" }
          = link_to footmarks_path do
            %i.icon-trophy
            %span= I18n.t('.footmark.titles.index')
      - if can? :view, :leagues_completed
        %li{ class: "#{'active' if current_page?(site_leagues_completed_path)}" }
          = link_to site_leagues_completed_path do
            %i.icon-check
            %span= I18n.t('.site.leagues_completed.title')
      - if can? :view, :visited_clubs
        %li{ class: "#{'active' if current_page?(site_visited_clubs_path)}" }
          = link_to site_visited_clubs_path do
            %i.icon-sort-by-order
            %span= I18n.t('.site.visited_clubs.title')
      - if can? :view, :map
        %li{ class: "#{'active' if current_page?(site_map_path)}" }
          = link_to site_map_path do
            %i.icon-map-marker
            %span= I18n.t('.site.map.title')
      - if can? :view, :tickets
        %li{ class: "#{'active' if current_page?(site_tickets_path)}" }
          = link_to site_tickets_path do
            %i.icon-ticket
            %span= I18n.t('.site.tickets.title')
      - if can? :view, :programmes
        %li{ class: "#{'active' if current_page?(site_programmes_path)}" }
          = link_to site_programmes_path do
            %i.icon-book
            %span= I18n.t('.site.programmes.title')
      - if can? :index, League
        %li{ class: "#{'active' if current_page?(leagues_path)}" }
          = link_to leagues_path do
            %i.icon-th
            %span= I18n.t('.league.titles.index')
      - if can? :index, Club
        %li{ class: "#{'active' if current_page?(clubs_path)}" }
          = link_to clubs_path do
            %i.icon-th
            %span= I18n.t('.club.titles.index')
