%nav#main-nav
  .navigation
    / search form visible on phone
    .search
      %form{ action: "search_results.html", method: "get" }
        .search-wrapper
          %input.search-query.form-control{ autocomplete: "off", name: "q", placeholder: "Search...", type: "text", value: ""}/
          %button.btn.btn-link.icon-search{ name: "button", type: "submit"}

    / navigation items
    %ul.nav.nav-stacked
      / single navigation item
      %li{ class: "#{'active' if current_page?(root_path)}" }
        = link_to root_path do
          %i.icon-dashboard
          %span= I18n.t('general.site.dashboard')
      - if user_signed_in?
        %li{ class: "#{'active' if current_page?(footmarks_path)}" }
          = link_to footmarks_path do
            %i.icon-group
            %span= I18n.t('footmark.titles.index')
        %li{ class: "#{'active' if current_page?(clubs_path)}" }
          = link_to clubs_path do
            %i.icon-group
            %span= I18n.t('club.titles.index')
        %li{ class: "#{'active' if current_page?(leagues_path)}" }
          = link_to leagues_path do
            %i.icon-group
            %span= I18n.t('league.titles.index')
