!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}
    %meta{:name => "description", :content => "FootMarks" }

    %title= I18n.t('general.site.title')
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    .container
      = yield

    = javascript_include_tag 'https://www.google.com/jsapi'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp'
    = javascript_include_tag 'application'