!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}
    %meta{:name => "description", :content => "FootMarks" }

    %title= I18n.t('general.site.title')
    = stylesheet_link_tag 'application', media: 'all'
    %link{ :crossorigin => "", :href => "https://unpkg.com/leaflet@1.4.0/dist/leaflet.css", :integrity => "sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==", :rel => "stylesheet"}/
    = csrf_meta_tags

  %body
    = render "layouts/header"
    .container-fluid
      = yield

    = javascript_include_tag 'application'

    %script{:crossorigin => "", :integrity => "sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==", :src => "https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"}
